[Unit]
Description=ecs-agent
# start this unit only after docker has started
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
# Remove the old instance, if it stuck around
ExecStartPre=-/usr/bin/docker rm ecs-agent
# Start the actual service; note we remove the instance after it exits
ExecStart=/usr/bin/docker run --name ecs-agent --volume=/var/run:/var/run --volume=/var/log/ecs/:/log --volume=/var/lib/ecs/data:/data --volume=/etc/ecs:/etc/ecs --net=host --env-file=/etc/ecs/ecs.config amazon/amazon-ecs-agent

# On exit, stop the container
ExecStop=/usr/bin/docker stop ecs-agent

[Install]
WantedBy=multi-user.target