check process docker with pidfile /var/run/docker.pid
 start program = "/bin/systemctl start docker.service
 stop program = "/bin/systemctl stop docker.service
 restart program = "/bin/systemctl restart docker.service
