check process ecs-agent matching "ecs-agent"
 start program = "/bin/systemctl start ecs-agent.service
 stop program = "/bin/systemctl stop ecs-agent.service
 restart program = "/bin/systemctl restart ecs-agent.service