check process logzio-docker matching "logzio-docker"
 start program = "/bin/systemctl start logzio-docker.service
 stop program = "/bin/systemctl stop logzio-docker.service
 restart program = "/bin/systemctl restart logzio-docker.service