[Unit]
Description=logzio container
# start this unit only after docker has started
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
# The following lines start with '-' because they are allowed to fail without
# causing startup to fail.
# Remove the old instance, if it stuck around
ExecStartPre=-/usr/bin/docker rm logzio-docker
# Start the actual service; note we remove the instance after it exits
ExecStart= /usr/bin/docker run --name=logzio-docker -v /var/run/docker.sock:/var/run/docker.sock logzio/logzio-docker -t {{ logzio_token }}
# On exit, stop the container
ExecStop=/usr/bin/docker stop logzio-docker

[Install]
WantedBy=multi-user.target